<div class="container-lx suggested-domains">
	<div class="row">
		<div class="col-lg-9 col-md-12 col-12">
			<h4>Explore other popular domains from the seller</h4>
			<table class="table mt-3">
				<tbody>
					<!-- Suggested Domains Content -->
					<tr>
						<td>
							<a href="https://dan.com/buy-domain/j.ai" class="domain-link"
								>j.ai</a
							>
						</td>
						<td class="text-md-end text-start">
							<a
								href="https://dan.com/buy-domain/j.ai"
								class="btn btn-outline-primary"
								>Make offer</a
							>
						</td>
					</tr>
					<tr>
						<td>
							<a
								href="https://dan.com/buy-domain/%E3%AF%98.com"
								class="domain-link"
								>㯘.com</a
							>
						</td>
						<td class="text-md-end text-start">
							<a
								href="https://dan.com/buy-domain/%E3%AF%98.com"
								class="btn btn-outline-primary"
								>Make offer</a
							>
						</td>
					</tr>
					<tr>
						<td>
							<a href="https://dan.com/buy-domain/tesla.am" class="domain-link"
								>tesla.am</a
							>
						</td>
						<td class="text-md-end text-start">
							<a
								href="https://dan.com/buy-domain/tesla.am"
								class="btn btn-outline-primary"
								>Make offer</a
							>
						</td>
					</tr>
					<tr>
						<td>
							<a href="https://dan.com/buy-domain/aurora.am" class="domain-link"
								>aurora.am</a
							>
						</td>
						<td class="text-md-end text-start">
							<span class="badge bg-secondary">$20,000</span>
							<a
								href="https://dan.com/buy-domain/aurora.am"
								class="btn btn-outline-primary"
								>Buy</a
							>
						</td>
					</tr>
					<tr>
						<td>
							<a
								href="https://dan.com/buy-domain/%E1%90%B4.com"
								class="domain-link"
								>ᐴ.com</a
							>
						</td>
						<td class="text-md-end text-start">
							<a
								href="https://dan.com/buy-domain/%E1%90%B4.com"
								class="btn btn-outline-primary"
								>Make offer</a
							>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="more-domains text-center">
				<a
					href="https://dan.com/domain-seller/name-am-marketplace?utm_campaign=Parking&amp;utm_medium=parking&amp;utm_source=.am&amp;utm_term=organic.am"
					class="btn btn-outline-secondary"
					>See more domains</a
				>
			</div>
		</div>
	</div>
</div>
