<div>
	<div class="container-lx">
		<div class="row flex-row">
			<div class="col-md-7">
				<div class="hero-banner text-white rounded">
					<div>
						The domain name
						<h1 class="fw-bold">organic.am</h1>
						is for sale!
					</div>
					<div class="d-none d-md-block listed-by-company">
						<div class="d-flex align-items-center mt-4">
							<img
								src="assets/svgs/name-am-logo.svg"
								alt="Name.am Marketplace"
								class="rounded-circle me-3"
								style="width: 3.7rem; height: 3.7rem"
							/>
							<div>
								<div class="fw-normal listed">
									Listed by
									<div class="fw-bold listed">Name.am Marketplace</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-5 offer" id="offer-component"></div>
			<div class="d-block d-md-none listed-by-company">
				<div class="d-flex align-items-center mt-4">
					<img
						src="assets/svgs/name-am-logo.svg"
						alt="Name.am Marketplace"
						class="rounded-circle me-3"
						style="width: 3.7rem; height: 3.7rem"
					/>
					<div>
						<div class="fw-normal listed">
							Listed by
							<div class="fw-bold listed">Name.am Marketplace</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
