<div class="container-lx">
	<div class="footer">
		<div class="content">
			<div class="row justify-content-center justify-content-md-between">
				<div class="col-12 col-md-10 text-center text-md-start">
					<div class="caption">
						<a
							target="_blank"
							href="https://dan.com/privacy?utm_campaign=Parking&amp;utm_medium=parking&amp;utm_source=.am&amp;utm_term=organic.am"
							>Privacy policy</a
						>
						<span class="divider">·</span>
						<a target="_blank" href="/cookies"
							>Do not sell my personal information</a
						>
						<span class="divider">·</span>
						<a class="cookie-manage" id="cookie-manage-btn" href=""
							>Manage cookies</a
						>
						<span class="divider">·</span>
						<a
							target="_blank"
							href="https://dan.com/terms_of_use?utm_campaign=Parking&amp;utm_medium=parking&amp;utm_source=.am&amp;utm_term=organic.am"
							>Terms of use</a
						>
						<span class="divider">·</span>
						<a
							target="_blank"
							href="https://dan.com/disclaimer?utm_campaign=Parking&amp;utm_medium=parking&amp;utm_source=.am&amp;utm_term=organic.am"
							>Disclaimer</a
						>
						<span class="divider">·</span>
						<a
							target="_blank"
							href="https://dan.com/sitemap?utm_campaign=Parking&amp;utm_medium=parking&amp;utm_source=.am&amp;utm_term=organic.am"
							>Sitemap
						</a>
						<span class="divider">·</span>© 2024 Dan.com an Undeveloped BV
						subsidiary. All Rights Reserved.
					</div>
				</div>

				<div class="col-md-2 col-12 text-md-end text-center mt-md-0 mt-3">
					<div class="dropup">
						<button
							class="btn btn-secondary dropdown-toggle bg-transparent p-0"
							type="button"
							id="languageDropdown"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Language
						</button>
						<ul class="dropdown-menu" aria-labelledby="languageDropdown">
							<li>
								<a href="#" onclick="changeLanguage('en')">English</a>
							</li>
							<li>
								<a href="#" onclick="changeLanguage('ru')">Русский</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
