<div class="">
	<div class="container-lx">
		<div class="row">
			<div class="col-md-7 col-12">
				<div class="info-section">
					<h2>Need Assistance or Have Questions?</h2>
					<p class="">
						If you have any questions, need assistance, or want to discuss
						pricing, feel free to reach out to us at
						<a href="mailto:broker@name.am" class="info-link">broker@name.am</a
						>. We're here to help!
					</p>
					<a href="mailto:broker@name.am" class="info-link"
						>Here’s how it works &rarr;</a
					>
				</div>
			</div>
			<div class="col-md-7 col-12">
				<div class="d-flex my-5 border-bottom"></div>
			</div>
			<dir class="col-md-7 col-12">
				<div class="row justify-content-between">
					<div class="col-md-4 col-sm-12 mb-3 mb-md-0">
						<div class="feature">
							<img
								src="assets/svgs/features-protection.svg"
								alt="Protection"
								class="feature-icon"
							/>
							<h3>Buyer Protection program</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 mb-3 mb-md-0">
						<div class="feature">
							<img
								src="assets/svgs/features-transfers.svg"
								alt="Transfers"
								class="feature-icon"
							/>
							<h3>Fast & easy transfers</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 mb-3 mb-md-0">
						<div class="feature">
							<img
								src="assets/svgs/features-payments.svg"
								alt="Payments"
								class="feature-icon"
							/>
							<h3>Hassle free payments</h3>
						</div>
					</div>
				</div>
			</dir>
		</div>
	</div>
</div>
