<div class="">
	<div class="container-lx">
		<div class="row">
			<dir class="col-md-7 col-12">
				<div class="row justify-content-between">
					<div class="col-md-4 col-sm-12 mb-3 mb-md-0">
						<div class="feature">
							<img
								src="assets/svgs/features-protection.svg"
								alt="Protection"
								class="feature-icon"
							/>
							<h3>Buyer Protection program</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 mb-3 mb-md-0">
						<div class="feature">
							<img
								src="assets/svgs/features-transfers.svg"
								alt="Transfers"
								class="feature-icon"
							/>
							<h3>Fast & easy transfers</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 mb-3 mb-md-0">
						<div class="feature">
							<img
								src="assets/svgs/features-payments.svg"
								alt="Payments"
								class="feature-icon"
							/>
							<h3>Hassle free payments</h3>
						</div>
					</div>
					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom"
					></div>
				</div>
			</dir>
		</div>

		<div class="info-section">
			<h2>The simple, safe way to buy domain names</h2>
			<p>
				No matter what kind of domain you want to buy, we make the transfer
				simple and safe.
			</p>
			<a href="#" class="info-link">Here’s how it works &rarr;</a>
		</div>
	</div>
</div>
