@import "~bootstrap/scss/bootstrap";

// Define SCSS variables
$primary-color: rgba(0, 134, 255, 0.9); // Main color
$secondary-color: #66ccff; // Light blue
$light-gray: #f0f0f0; // Light gray
$white-color: #ffffff; // White
$dark-gray: #333333; // Dark gray
$success-color: #f9d71c;
$success-color-high: #f6c800;

$body-color: $dark-gray;
$border-radius: 0.5rem;
$box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.075);

// Root CSS variables
:root {
	--font-family-base: "Roboto", Arial, sans-serif;
	--font-family-heading: "Montserrat", Arial, sans-serif;
	--color-primary: #{$primary-color};
	--color-secondary: #{$secondary-color};
	--color-light-gray: #{$light-gray};
	--color-white: #{$white-color};
	--color-dark-gray: #{$dark-gray};
	--color-success: #{$success-color};
	--color-success-high: #{$success-color-high};

	--color-body: #{$body-color};
	--border-radius: #{$border-radius};
	--box-shadow: #{$box-shadow};
}

// Define the font-size-base mixin
@mixin font-size-base {
	font-size: 1rem;
	@media (max-width: 768px) {
		font-size: 0.9rem;
	}
}

// Hide number input arrows
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
