.fixed-offer {
	z-index: 1030;
	background: var(--color-white);
	padding-top: 1rem;
	padding-bottom: 1rem;

	position: fixed;
	width: 100%;
	display: none;
	bottom: 0px;
	right: 0px;
	section {
		padding: 0;
	}
	button {
		font-weight: 600;
		padding: 0.8rem 1.5rem;
		width: 100%;
		color: var(--color-dark-color);
		background: linear-gradient(
			0.25turn,
			var(--color-success-high),
			var(--color-success)
		);
		border-color: var(--color-success-high);
		transition: background 0.7s ease-in-out, border-color 0.7s ease-in-out;

		&:hover {
			background: linear-gradient(
				0.25turn,
				var(--color-success),
				var(--color-success-high)
			);
			color: var(--color-dark-color);
			border-color: var(--color-success);
		}
	}
}
