<div class="container-xl">
	<div class="row d-block">
		<div class="col-12 col-lg-7 col-md-6">
			<div class="mb-5">
				<h3 class=".head-text">The simple, safe way to buy domain names</h3>
				<p>
					No matter what kind of domain you want to buy, we make the transfer
					simple and safe.
				</p>
			</div>
		</div>
		<div class="col-md-7">
			<form class="find-domain card" action="">
				<label for="search">Find your perfect Domain here</label>
				<div class="search-row">
					<div class="search-container">
						<span>
							<i class="bi bi-search" style="height: 3px"></i>
						</span>
						<input type="text" placeholder="Գրեք նախընտրած դոմենի անունը..." />
					</div>
					<button class="btn btn-light btn-lg">Find</button>
				</div>
			</form>
		</div>
	</div>
</div>
